html {
    background: #4D724D;;
}

nav {
    background: #4D724D;
}

.navbar-brand {
    font-size: 2rem;
    color: white;
}

.navbar-brand:hover {
    color: white;
}

.nav-item a {
    text-decoration: none;
    font-size: 1.3rem;
    color: rgb(255, 255, 255);
    margin-right: 2rem;
}

.nav-item a:hover {
    border-bottom: 3px solid rgb(0, 0, 0);
    padding-bottom: 5px;
}

h2 {
    border-bottom: 3px solid #4D724D;
    padding-bottom: 10px ;
}

.input {
    margin-bottom: 20px;
    padding: 10px;
}

label {
    margin-bottom: 5px;
}

@media (max-width: 767px) {
    section {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }


.table thead {
    font-size: 1.3rem;
    font-weight: bold;
    background-color: #4D724D;
    border: none;
}

.table td {
    padding: 15px 20px 15px 15px;
}

.table-hover tbody tr:hover td {
    background-color: #8DB48E;
}

footer {
    background: #4D724D;
    clip-path: polygon(0 30px, 100% 0, 100% 105%, 0 105%);
    padding: 20px;
    color: white;
}

.btn {
    border: 1px solid #8DB48E;
}

.btn:hover {
    background: #4D724D;
    color: white;

}
